<?xml version="1.0"?>
<!-- ********************************************************************** -->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<appSettings>
		<add key="ConfigFilePath" value=""/>
		<!-- This is the only setting that should be stored in web.config. Leave blank for default -->
	</appSettings>
	<system.web>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<httpModules>
			<!-- need the WebSupportModule if you're using Spring's WebContextHandler
           as opposed to just a ContextHandler above -->
			<!-- THIS LINE IS BLOWING UP MDWS WITH:
      Implementations of IApplicationContext must also implement IConfigurableApplicationContext -->
			<!--<add name="Spring" type="Spring.Context.Support.WebSupportModule, Spring.Web"/>-->
		</httpModules>
		<webServices>
			<protocols>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
			</protocols>
		</webServices>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<authentication mode="Windows"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<system.web.extensions>
		<scripting>
			<webServices>
				<!-- Uncomment this line to customize maxJsonLength and add a custom converter -->
				<jsonSerialization maxJsonLength="2147483644">
				</jsonSerialization>
			</webServices>
			<scriptResourceHandler enableCompression="true" enableCaching="true"/>
		</scripting>
	</system.web.extensions>
	<system.serviceModel>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true" />
      </webHttpEndpoint>
    </standardEndpoints>
  <behaviors>
    <serviceBehaviors>
    <behavior name="">
      <serviceMetadata httpGetEnabled="true" />
      <serviceDebug includeExceptionDetailInFaults="false" />
    </behavior>
    </serviceBehaviors>
    <endpointBehaviors>
      <behavior name="web">
        <webHttp />
      </behavior>
    </endpointBehaviors>
  </behaviors>
		<services>
      
		</services>
    
	</system.serviceModel>

</configuration>
