#Ignore everything
nbproject
*.zip
*.7z
modules/*
themes/*
libraries/*

#Except these things...
!.gitignore
!EWDJSvistalayer
!MDWSvistalayer
!themes/raptor_omega
!themes/raptor_omega/*

!modules/raptor_glue
!modules/raptor_glue/*

!modules/raptor_ewdvista
!modules/raptor_ewdvista/*

!modules/raptor_contraindications
!modules/raptor_contraindications/*

!modules/raptor_datalayer
!modules/raptor_floatingdialog
!modules/raptor_formulas
!modules/raptor_glue
!modules/raptor_graph
!modules/raptor_imageviewing
!modules/raptor_mdwsvista
!modules/raptor_protocollib
!modules/raptor_scheduling
!modules/raptor_workflow
!modules/simplerulesengine_core
!modules/simplerulesengine_demo
!modules/simplerulesengine_ui

!modules/raptor_datalayer/*
!modules/raptor_floatingdialog/*
!modules/raptor_formulas/*
!modules/raptor_glue/*
!modules/raptor_graph/*
!modules/raptor_imageviewing/*
!modules/raptor_mdwsvista/*
!modules/raptor_protocollib/*
!modules/raptor_scheduling/*
!modules/raptor_workflow/*
!modules/simplerulesengine_core/*
!modules/simplerulesengine_demo/*
!modules/simplerulesengine_ui/*
