#Ignore everything
nbproject
*.zip
*.7z
.DS_Store

modules/*
themes/*
libraries/*
ssh.exe.stackdump

# ignore _private folder 
_private

# ignore hidden vagrant folder
.vagrant

# ignore cache installer and database
provision/cache/CACHE.DAT
provision/cache/cache-*.tar.gz
 
#Except these things...
!.gitignore
!EWDJSvistalayer
!EWDJSvistalayer/*

!MDWSvistalayer
!MDWSvistalayer/*

!SharedDocs
!SharedDocs/*

!VistAConfig
!VistAConfig/*

!OtherComponents
!OtherComponents/*

!miscellaneous
!miscellaneous/*

!themes/raptor_omega
!themes/raptor_omega/*

!modules/raptor_glue
!modules/raptor_datalayer
!modules/raptor_mdwsvista
!modules/raptor_ewdvista
!modules/raptor_contraindications
!modules/raptor_reports
!modules/raptor_floatingdialog
!modules/raptor_formulas
!modules/raptor_glue
!modules/raptor_graph
!modules/raptor_imageviewing
!modules/raptor_protocollib
!modules/raptor_scheduling
!modules/raptor_workflow
!modules/simplerulesengine_core
!modules/simplerulesengine_demo
!modules/simplerulesengine_ui

!modules/raptor_glue/*
!modules/raptor_datalayer/*
!modules/raptor_mdwsvista/*
!modules/raptor_ewdvista/*
!modules/raptor_contraindications/*
!modules/raptor_reports/*
!modules/raptor_floatingdialog/*
!modules/raptor_formulas/*
!modules/raptor_glue/*
!modules/raptor_graph/*
!modules/raptor_imageviewing/*
!modules/raptor_protocollib/*
!modules/raptor_scheduling/*
!modules/raptor_workflow/*
!modules/simplerulesengine_core/*
!modules/simplerulesengine_demo/*
!modules/simplerulesengine_ui/*
