#Ignore everything
*

#Except these things...
!.gitignore
!EWDJSvistalayer
!MDWSvistalayer
!modules/raptor_glue
!modules/raptor_glue/*
!modules/raptor_ewdvista
!modules/raptor_ewdvista/*
!modules/raptor_*
!modules/simplerulesengine_*
!themes/raptor_omega

#App/Drupal7/themes/raptor_omega/.sass-cache
#App/Drupal7/themes/raptor_omega/theme
#nbproject
#themes/raptor_omega/.sass-cache
#*.zip
#*.7z


