/*~~~~~~~~~~~~~~~~~~~~~~~  Worklist  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\000033}}
#worklist_container {
  margin: 0;
  width: 100%;
  /*~~~~~~~~~~~~~~~~~~~~~~~  containers/wrappers  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
  /*~~~~~~~~~~~~~~~~~~~~~~~  Table/Sort  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
  /* tables */
  /*
    table.tablesorter {
      font-family:arial;
      margin: 0 0 20px;
      font-size: 8pt;
      width: 100%;
      text-align: left;
      border-collapse: collapse;
    }
  
    table.tablesorter thead tr th, 
    table.tablesorter tfoot tr th {
      background: #0092d0;
      font-size: 1.1em;
      padding: 4px 5px;
      color: #fff;
      height: 60px;
      vertical-align: middle;
      border-collapse: collapse;
    }
  
    table.tablesorter thead tr .header {
      background-repeat: no-repeat;
      background-position: center right;
      cursor: pointer;
      border-collapse: collapse;
      border-left: 1px solid #fff;
    }
  
    table.tablesorter thead tr td { 
      border-right: 2px solid #fff
    }
  
    table.tablesorter tbody tr {
      color: #3D3D3D;
      vertical-align: top;
      border-collapse: collapse;
    }
  
    table.tablesorter tbody tr.odd td {
      background-color:#F0F0F6;
    }
  
    table.tablesorter thead tr .headerSortUp {
  
    }
  
    table.tablesorter thead tr .headerSortDown {
    }
  
    table.tablesorter thead tr .headerSortDown, 
    table.tablesorter thead tr .headerSortUp {
      background-color: #8dbdd8;
    }
  */
  /*
  table {
    display: block;
    border-collapse: collapse;
    width: 100%;
  }

  table tr {
    border-bottom: 1px dashed lightgrey;
  }

  tbody.table-content tr td {
    padding: 16px 6px;
    text-align: left;
    vertical-align: middle;
  }

  tbody.table-content tr:nth-child(odd) {
    background: #E4E9EC;
  }

  tbody.table-content tr:nth-child(2n+1):hover {
      background: #0c63a1;
  }

  table tr:last-child, tbody.table-content:last-child {
    border: none;
  }

  .top-buttons-wrapper {
    margin-top: 10px;
  }
  */
  /*----- Button Section -----*/
  /*~~~~~~~~~~~~~~~~~~~~~~~  Navigation/ Tabs  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
  /* Side Nav */
  /*nav-icons*/
  /* Top Nav */
  /* Tab Section */ }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\000039}}
  #worklist_container .main-content {
    border-radius: 5px;
    width: 100%;
    overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\0000315}}
  #worklist_container .right-content {
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\0000321}}
  #worklist_container .wrapper {
    border-radius: 10px;
    width: 95%;
    min-width: 960px;
    min-height: 1px;
    margin: 0 auto 20px;
    position: relative;
    clear: both;
    -moz-box-shadow: 0px 0px 43px -4px #555;
    -webkit-box-shadow: 0px 0px 43px -4px #555;
    box-shadow: 0px 0px 43px -4px #555; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\0000335}}
  #worklist_container .top-wrapper {
    width: 95%;
    min-width: 960px;
    min-height: 1px;
    margin: -12px auto 0;
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\0000343}}
  #worklist_container header {
    background: #000;
    border: 1px solid #666;
    border-radius: 5px;
    width: 96%;
    min-height: 200px;
    margin: 20px 0 40px 0;
    float: left;
    margin-left: 16px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\0000354}}
  #worklist_container section {
    float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\0000358}}
  #worklist_container .left-side {
    width: 60%;
    margin-right: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\0000363}}
  #worklist_container .right-side {
    width: 30%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\00003127}}
  #worklist_container .chk-all {
    background-image: none;
    font-size: 1.1em;
    font-weight: bold;
    vertical-align: middle;
    cursor: pointer;
    padding: 4px 5px;
    text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\00003171}}
  #worklist_container tbody.table-content tr:hover, #worklist_container tbody.table-content tr:hover a {
    background: #0c63a1;
    color: #fff;
    cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\00003185}}
  #worklist_container .status_code_column {
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\00003189}}
  #worklist_container #worklistTable_wrapper {
    margin: 20px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\00003195}}
  #worklist_container #buttonsWrapper {
    width: 50%;
    padding: 13px 10px 10px 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\00003200}}
  #worklist_container #buttonsWrapper a {
    background: #0B63A2;
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
    padding: 12px;
    border-radius: 0 4px 4px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\00003209}}
  #worklist_container #buttonsWrapper a:hover {
    background: #0D324F; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\00003213}}
  #worklist_container [id^=edit-top-work-order-] {
    background: url("../images/icons/edit_icon_sm.png") no-repeat 8px center #0d324f;
    width: 206px;
    padding: 12px 0 12px 12px;
    border-radius: 4px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\00003220}}
  #worklist_container [id^=refresh-] {
    background: url("../images/icons/refresh_icon_sm.png") no-repeat 8px center #0d324f;
    width: 206px;
    margin-left: 10px;
    padding: 12px 0 12px 12px;
    border-radius: 4px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\00003228}}
  #worklist_container #worklistLoaderWrapper {
    text-align: center;
    padding-top: 180px;
    height: 400px;
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\00003240}}
  #worklist_container .side-nav {
    background: rgba(255, 255, 255, 0.8);
    border-top-left-radius: 5px;
    width: 100%;
    height: 124px;
    float: left;
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\00003249}}
  #worklist_container #user-icon {
    background: url("../images/icons/avatar_lrg.png") #0f649c no-repeat center bottom;
    /*border-top-left-radius:5px;*/
    width: 120px;
    height: 93px;
    float: left;
    margin: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\00003258}}
  #worklist_container nav {
    width: 100%;
    height: 50px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\00003267}}
  #worklist_container nav ul li {
    text-align: center;
    border-bottom: 1px solid #A9A9A9; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\00003272}}
  #worklist_container nav ul li a {
    color: #878787;
    display: block;
    text-decoration: none;
    padding: 50px 0 10px;
    text-align: center;
    vertical-align: middle; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\00003281}}
  #worklist_container nav ul li a:hover {
    color: #0F649C; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\00003288}}
  #worklist_container .overview {
    background: url("../images/icons/overview_icon.png") center 15px no-repeat; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\00003292}}
  #worklist_container .medications {
    background: url("../images/icons/medications_icon.png") center 15px no-repeat; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\00003296}}
  #worklist_container .vitals {
    background: url("../images/icons/vitals_icon.png") center 15px no-repeat; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\00003300}}
  #worklist_container .allergies {
    background: url("../images/icons/allergies_icon.png") center 15px no-repeat; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\00003304}}
  #worklist_container .labs {
    background: url("../images/icons/labs_icon.png") center 15px no-repeat; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\00003308}}
  #worklist_container .dose-hx {
    background: url("../images/icons/dose_hx_icon.png") center 15px no-repeat; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\00003312}}
  #worklist_container .clin-rpts {
    background: url("../images/icons/clin_rpts_icon.png") center 15px no-repeat; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\00003316}}
  #worklist_container .problem-list {
    background: url("../images/icons/problem_list_icon.png") center 15px no-repeat; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\00003320}}
  #worklist_container .notes {
    background: url("../images/icons/notes_icon.png") center 15px no-repeat; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\00003324}}
  #worklist_container .rad-rpts {
    background: url("../images/icons/rad_rpts_icon.png") center 15px no-repeat; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\00003328}}
  #worklist_container .library {
    background: url("../images/icons/library_icon.png") center 15px no-repeat; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\00003334}}
  #worklist_container .top {
    background: url("../images/top_nav_bg.jpg") repeat-x scroll 0px 0px #052a44;
    width: 100%;
    height: 98px;
    float: left;
    margin-bottom: 26px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\00003344}}
  #worklist_container .tabs-wrapper {
    position: relative;
    width: 98%;
    min-height: 600px;
    clear: both;
    margin: 45px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\00003352}}
  #worklist_container .tab {
    float: left;
    margin-left: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\00003357}}
  #worklist_container .tab label:hover {
    background: #ccc;
    cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\00003362}}
  #worklist_container .tab:first-child {
    margin-left: 50px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\00003366}}
  #worklist_container .tab label {
    background: #eee;
    padding: 10px 6px;
    border: 1px solid #ccc;
    border-bottom: none;
    margin-left: -1px;
    position: relative;
    left: 1px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\00003376}}
  #worklist_container .tab [type=radio] {
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\00003380}}
  #worklist_container .content {
    position: absolute;
    top: 28px;
    /* left: 27px; */
    background: white;
    right: 0;
    bottom: 24;
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
    width: 93%;
    min-height: 500px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\00003394}}
  #worklist_container [type=radio]:checked ~ label {
    background: white;
    border-bottom: 1px solid white;
    z-index: 2; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/layouts\/worklist\/raptor-omega\.worklist\.scss}line{font-family:\00003400}}
  #worklist_container [type=radio]:checked ~ label ~ .content {
    z-index: 1; }
