

.medical-health-bad{
    background-color: red;
}

.medical-health-warn{
    background-color: yellow;
}

.medical-health-good{
    background-color: greenyellow;
}

.raptor-active-field{
    color: blue;
}

#edit-radioisotope-cd{
    width: 80%;
}

#edit-contrast-cd{
    width: 80%;
}

.form-type-radio{
    width: auto;
}

#edit-modality-abbr{
    display: -webkit-box;
}

#header-sticky-wrapper-patient-name{
    position: fixed;
    font-weight: bold;
    z-index: 10;
}

#paragraph-patient-name{
    position: fixed;
    left: 40%;
    background-color:yellow;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 18px;
    z-index: 10;
}

.wrapper.cf{
    z-index: 0;
}

.pending_column{
    width: 18px;
}

#edit-boilerplate-fieldset{
    border: 1px solid #ccc;
    padding: 0 7px 7px 7px;
    margin-bottom: 15px;
    width: 1024px;
}
#edit-exam-notes-tx {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


.form-textarea{
    width:1024px;
}

.grippie {
    width: 100%;
}