/* ------------------ Admin Forms ------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/raptor-omega\.datalayer\.scss}line{font-family:\000034}}
#raptor-admin-container .user-profile-dataentry > div {
  margin: 16px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/raptor-omega\.datalayer\.scss}line{font-family:\000039}}
#raptor-admin-container .form-item label {
  display: inline-block;
  width: 110px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/raptor-omega\.datalayer\.scss}line{font-family:\0000314}}
#raptor-admin-container .form-item label[for=edit-confirmed-by-patient-yn] {
  width: 200px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/raptor-omega\.datalayer\.scss}line{font-family:\0000318}}
#raptor-admin-container .form-item label[for=edit-canceled-reason-tx] {
  width: 325px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/raptor-omega\.datalayer\.scss}line{font-family:\0000322}}
#raptor-admin-container .form-item label[for=edit-suggested-uid] {
  width: 325px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/raptor-omega\.datalayer\.scss}line{font-family:\0000326}}
#raptor-admin-container .form-item label[for=edit-notes-tx] {
  width: 183px;
  margin: 20px 0 5px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/raptor-omega\.datalayer\.scss}line{font-family:\0000331}}
#raptor-admin-container .form-item label[for=edit-notes-critical-yn] {
  width: 400px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/raptor-omega\.datalayer\.scss}line{font-family:\0000336}}
#raptor-admin-container fieldset {
  border: 1px solid #999;
  padding: 16px;
  margin: 16px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/raptor-omega\.datalayer\.scss}line{font-family:\0000343}}
  #raptor-admin-container fieldset fieldset .form-item label {
    display: inline-block;
    width: 150px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/raptor-omega\.datalayer\.scss}line{font-family:\0000351}}
#raptor-admin-container legend {
  text-transform: capitalize; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/raptor-omega\.datalayer\.scss}line{font-family:\0000355}}
#raptor-admin-container .form-type-checkbox {
  display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/raptor-omega\.datalayer\.scss}line{font-family:\0000358}}
  #raptor-admin-container .form-type-checkbox label {
    width: auto;
    margin-right: 16px;
    margin-left: -4px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/raptor-omega\.datalayer\.scss}line{font-family:\0000365}}
#raptor-admin-container #edit-cancel {
  display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/raptor-omega\.datalayer\.scss}line{font-family:\0000369}}
#raptor-admin-container .form-item-location-tx {
  display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/raptor-omega\.datalayer\.scss}line{font-family:\0000373}}
#raptor-admin-container .form-item-location-tx + ul {
  display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/raptor-omega\.datalayer\.scss}line{font-family:\0000376}}
  #raptor-admin-container .form-item-location-tx + ul li {
    display: inline;
    margin: 0 12px 0 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/raptor-omega\.datalayer\.scss}line{font-family:\0000382}}
#raptor-admin-container #raptor-schedule-table {
  margin-bottom: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/raptor-omega\.datalayer\.scss}line{font-family:\0000385}}
  #raptor-admin-container #raptor-schedule-table th {
    width: 175px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/raptor-omega\.datalayer\.scss}line{font-family:\0000391}}
.raptor-dialog-table-container {
  height: 655px;
  overflow-y: auto;
  margin: 0 0 25px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/raptor-omega\.datalayer\.scss}line{font-family:\0000397}}
.raptor-dialog-table {
  border-collapse: collapse;
  border: 1px solid #ccc;
  width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/raptor-omega\.datalayer\.scss}line{font-family:\00003102}}
  .raptor-dialog-table tr {
    border-bottom: 1px solid #ccc; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/raptor-omega\.datalayer\.scss}line{font-family:\00003105}}
    .raptor-dialog-table tr td, .raptor-dialog-table tr th {
      padding: 6px 12px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/raptor-omega\.datalayer\.scss}line{font-family:\00003112}}
.raptor-action-buttons div {
  display: inline-block; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/raptor-omega\.datalayer\.scss}line{font-family:\00003117}}
#edit-leftpart {
  float: left;
  width: 40%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/raptor-omega\.datalayer\.scss}line{font-family:\00003122}}
#edit-rightpart {
  float: left;
  width: 44%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/BitNami\/drupal-7\.28-0\/apps\/drupal\/htdocs\/sites\/all\/themes\/raptor_omega\/sass\/raptor-omega\.datalayer\.scss}line{font-family:\00003127}}
#edit-rightpart ~ fieldset {
  clear: both; }
